{% extends 'layout.html' %}

{% block content %}

<style>
#question {
  margin: 0 auto;
}
</style>

<br>
<form action="submit" method="POST">
  <input type="text" name="question">
  <input type="submit" value="submit">
</form>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for post in posts %}
      <article>
        <hr>
        <div class="row">
          <div class="col">
            <a class="h1" href="#">{{ post.title }}</a>
          </div>
          <div class="col-md-2 d-flex flex-column">
            <img class="rounded-circle mx-auto" src="{{ url_for('static', filename='profile_imgs/' + post.author.profile_image)}}" data-src="holder.js/64x64" width="64px" height="64px">
            <p class="text-muted text-center">{{ post.author.username }}</p>
          </div>
        </div>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </article>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src=https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js></script>
{% endblock %}
